@mixin button-radial-out($max-radius: 1em) {
  z-index: 1;
  position: relative;
  color: $active-bg-color;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: white;
  overflow: hidden;
  transition: color $small-element-medium-duration ease-in-out;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $max-radius;
    height: $max-radius;
    border-radius: 50%;
    background-color: $active-bg-color;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform $small-element-medium-duration ease-in-out;
  }

  &:hover {
    color: white;
  }

  &:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
}

.button-radial-out {
  @include button-radial-out();
}
