@keyframes transition-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin transition-fade-up {
  animation: transition-fade-up $large-element-medium-duration;
}

.transition-fade-up {
  @include transition-fade-up()
}
