@mixin slide-up {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $active-bg-color;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform $medium-duration ease-in-out;
  }
  
  &:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
  }
}

.slide-up {
  @include slide-up();
}